.top-container{
  background-color: #898AA6;
  position: relative;
  padding-top: 100px;
  }
h1{
  margin: 0 auto 0 auto;
  font-size: 5rem;
  margin-top: 50px;
  color: #4D375D;
}
h2{
  font-size: 2.5rem;
  margin-top: 0;
  color: #4D375D;
  font-weight: normal;
}
h3{
  color: #4D375D;
}
a{
  color: #4D375D;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Charm', cursive;
  font-size: 20px;

}
.bottom-cloud{
  position: absolute;
}
.top-cloud{
  position: relative;
  left: 300px;
  top: 20px;
}
.skill-row{
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}
.skill-img{
  float: left;
  margin-right: 25px;
}
.EEskill-img{
  float: right;
  margin-left: 25px;
}
.profile{
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
.hlo{
  margin-top: 20px;
}
.prg{
    padding-top: 10px;
    padding-bottom: 70px;
}
img{
  margin-top: 10px;
}
  .btn {
  background: #9A86A4;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: black;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-shadow: 4px 4px 4px purple;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.bottom-container{
  margin-top: 25px;
  padding-top: 10px;
}
footer{
  background-color: #9A86A4;
  margin-bottom: 0;
}
.footer-link{
  text-decoration: none;
  padding: 15px;
}
a:hover{
  color: #15133C;
}
hr{
  width: 30%;
  border-style: dotted none none;
  border-width: 5px;
}
.skills{
  padding-top: 20px;
}
.contact-me{
  padding-top: 20px;
}
